node_modules
.pnpm-store

.DS_Store

dist
build
coverage

.next
.expo
.expo-shared
.turbo

apps/desktopapp/src-tauri/target
apps/desktopapp/src-tauri/gen

*.log
*.tsbuildinfo

.env
.env.local
.env.development.local
.env.test.local
.env.production.local
